<div class="button-up bg-[#0f928c] transition-opacity fixed bottom-10 right-10 w-14 h-14 rounded-full cursor-pointer z-10 grid place-items-center" id="myBtn">
    <img src="/flecha-arriba.png" alt="" />
</div>

<style>
    .button-up {
        @apply hidden opacity-0
    }

    .button-up.active {
        @apply grid opacity-100
    }
</style>

<script>
    const mybutton = document.getElementById("myBtn");

    const scrollFunction = () => {
        mybutton.classList.toggle('active', window.scrollY > 500)
    };
    const backToTop = () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    };

    // When the user clicks on the button, scroll to the top of the document
    mybutton.addEventListener("click", backToTop);

    window.addEventListener("scroll", scrollFunction);
</script>
